<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

</nav>

<section class="container-fuild mt-5">
    <h4 class="text-center mb-5">We Deliver To Your Doorstep</h4>
</section>

<ng-container>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-3 groceries-icon text-center">
                <img src='./../../../assets/images/groceries.jpg'>
                <div><span>{{shopTypes[0]}}</span></div>
            </div>
            <div class="col-sm-3 fruit-veg-icon text-center">
                <img src='./../../../assets/images/fruits-vegetables.jpg'>
                <div><span>{{shopTypes[1]}}</span></div>
            </div>
            <div class="col-sm-3 medicine-icon text-center">
                <img src='./../../../assets/images/medicines.png'>
                <div><span>{{shopTypes[2]}}</span></div>
            </div>
            <div class="col-sm-3 health-wellness-icon text-center">
                <img src='./../../../assets/images/healthandwellness.png'>
                <div><span>{{shopTypes[3]}}</span></div>
            </div>
        </div>
    </div>
</ng-container>

<hr>

<ng-container>
    <div class="container mt-5">
        <div class="text-center">
            <div><h2></h2></div>
        </div>
        <div class="row">
            <div class="col-sm-9 fruit-veg-icon text-center">
               
            </div>
        </div>
    </div>
</ng-container>